.bookYacht-container {
	padding: 50px 1px;
	background: linear-gradient(rgba(16, 137, 255, 0.8), rgba(16, 137, 255, 0.8)), url('/imagini/boat4.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	color: white;
}

.bookYacht-container h2 {
	font-size: 30px;
}

.bookYacht-button {
	background-color: rgb(192, 125, 0);
	font-size: 15px;
	color: white;
	padding: 15px 30px;
	border: 1px solid rgb(192, 125, 0);
	border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.bookYacht-button:hover {
	background: none;
	/* color: rgb(192, 125, 0); */
}
